@import "variables";
@import "compass/css3";
@import "compass";

$defaultFontSize: 0.9em;
/*空隙間隔寬度*/
$contentBlockSize: 32px;

a:hover{
  text-decoration: none;
}
#socialList{
  margin-top: 30px;
  i{
    font-size: 15px;
    background: $site-lightGray;
    color: white;
    @include border-radius(50%);
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-left: 5px
  }:hover{
    background: $site-Green;
  }
}
.siteHR{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $site-lightGray;
}
nav{
  ul{
    li{
      margin-left: 20px;
    }
  }
}

/**/
footer{
  padding-top: 32px;
  padding-bottom: 40px;
}
.footer-link{
  font-size: 0.85em;
  text-align: center;
  padding-bottom: 10px;
}
.title2{
  color: darken($site-lightGray, 50%);
  font-size: $defaultFontSize + 0.4em;
}
.title1{
  color: $site-Green;
  font-size: $defaultFontSize + 0.4em;
}
.footer-link{
  font-size: 0.85em;
  text-align: center;
  padding-bottom: 10px;
}
.greenText{
  color: $site-Green;
}
.footer-top-words{
  padding-bottom: 5px;
}
.hr-Type{
  background-color: $site-lightGray;
  padding-top: 3px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}
/***/
.graybakcground-right{
  background: $site-lightGray;
  margin-top: 15px;
}
.graybakcground-left{
  background: $site-lightGray;
  margin-top: 15px;
}
.indexContent{
  padding: 15px;
}
#fbBar{
  margin-top: 15px;
}
#indexFootImage{
  margin-top: 15px;
}
/**/
.siteContentTitle{
  font-size: $defaultFontSize + 0.8em;
  color: darken($site-lightGray, 50%);
}
.siteContentTitleHR{
  background-color: $site-lightGray;
  border: 3px solid #ccc;
  width: 10%;
  margin-top: 5px;
}
.siteContentTitleHR2{
  background-color: $site-lightGray;
  border: 3px solid #ccc;
  width: 100%;
  margin-top: 5px;
}
#coffeeMakerMenu{
  text-align: center;
  li{
    width: 10.5%;
  }
}
.productItem{
  margin-bottom: 40px;
}
.productItemwords{
  margin-top: 5px;
  padding-bottom: 15px;

}
.productPrice{
  color: $site-Green;
}
/**/
.productDesprition{
  margin-top: 10px;
  margin-bottom: 30px;
  p{
    text-align: justify;
  }
}
#others{
  margin-top: 30px;
}
.machineListImage{
  img{
    background-image: no;
  @include filter(grayscale(100%));
  margin-top: 10px;
  }
  
}
  
  
.machineListImage:hover{
  img{
      filter: none;
  @include filter(grayscale(0%));
  }

}
  
