/* line 1, ../sass/siteAdmin.scss */
form {
  padding-bottom: 50px;
}

/* line 4, ../sass/siteAdmin.scss */
#header-control {
  margin-top: 15px;
}

/* line 7, ../sass/siteAdmin.scss */
table, form {
  margin-top: 20px;
}
