@charset "UTF-8";
/*網站的色調定義*/
/*空隙間隔寬度*/
/* line 9, ../sass/site.scss */
a:hover {
  text-decoration: none;
}

/* line 12, ../sass/site.scss */
#socialList {
  margin-top: 30px;
}
/* line 14, ../sass/site.scss */
#socialList i {
  font-size: 15px;
  background: #e7e7e7;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-left: 5px;
}
/* line 24, ../sass/site.scss */
#socialList :hover {
  background: #47ae6e;
}

/* line 28, ../sass/site.scss */
.siteHR {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e7e7e7;
}

/* line 35, ../sass/site.scss */
nav ul li {
  margin-left: 20px;
}

/**/
/* line 42, ../sass/site.scss */
footer {
  padding-top: 32px;
  padding-bottom: 40px;
}

/* line 46, ../sass/site.scss */
.footer-link {
  font-size: 0.85em;
  text-align: center;
  padding-bottom: 10px;
}

/* line 51, ../sass/site.scss */
.title2 {
  color: #686868;
  font-size: 1.3em;
}

/* line 55, ../sass/site.scss */
.title1 {
  color: #47ae6e;
  font-size: 1.3em;
}

/* line 59, ../sass/site.scss */
.footer-link {
  font-size: 0.85em;
  text-align: center;
  padding-bottom: 10px;
}

/* line 64, ../sass/site.scss */
.greenText {
  color: #47ae6e;
}

/* line 67, ../sass/site.scss */
.footer-top-words {
  padding-bottom: 5px;
}

/* line 70, ../sass/site.scss */
.hr-Type {
  background-color: #e7e7e7;
  padding-top: 3px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

/***/
/* line 78, ../sass/site.scss */
.graybakcground-right {
  background: #e7e7e7;
  margin-top: 15px;
}

/* line 82, ../sass/site.scss */
.graybakcground-left {
  background: #e7e7e7;
  margin-top: 15px;
}

/* line 86, ../sass/site.scss */
.indexContent {
  padding: 15px;
}

/* line 89, ../sass/site.scss */
#fbBar {
  margin-top: 15px;
}

/* line 92, ../sass/site.scss */
#indexFootImage {
  margin-top: 15px;
}

/**/
/* line 96, ../sass/site.scss */
.siteContentTitle {
  font-size: 1.7em;
  color: #686868;
}

/* line 100, ../sass/site.scss */
.siteContentTitleHR {
  background-color: #e7e7e7;
  border: 3px solid #ccc;
  width: 10%;
  margin-top: 5px;
}

/* line 106, ../sass/site.scss */
.siteContentTitleHR2 {
  background-color: #e7e7e7;
  border: 3px solid #ccc;
  width: 100%;
  margin-top: 5px;
}

/* line 112, ../sass/site.scss */
#coffeeMakerMenu {
  text-align: center;
}
/* line 114, ../sass/site.scss */
#coffeeMakerMenu li {
  width: 10.5%;
}

/* line 118, ../sass/site.scss */
.productItem {
  margin-bottom: 40px;
}

/* line 121, ../sass/site.scss */
.productItemwords {
  margin-top: 5px;
  padding-bottom: 15px;
}

/* line 126, ../sass/site.scss */
.productPrice {
  color: #47ae6e;
}

/**/
/* line 130, ../sass/site.scss */
.productDesprition {
  margin-top: 10px;
  margin-bottom: 30px;
}
/* line 133, ../sass/site.scss */
.productDesprition p {
  text-align: justify;
}

/* line 137, ../sass/site.scss */
#others {
  margin-top: 30px;
}

/* line 141, ../sass/site.scss */
.machineListImage img {
  background-image: no;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-top: 10px;
}

/* line 151, ../sass/site.scss */
.machineListImage:hover img {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
